/* UNIVERSAL SELECTOR */
*{
    display:border-box;
    font-family: 'Libre Baskerville', serif;
}

/* TYPE SELECTORS */

main{
    max-width: 768px;
    font-size: 1em;
    margin:auto;
}

header{
    background:#0e223b;
    padding:1.8em 0;
    color: white;
    text-align: center;
}

h1{
    font-size: 1.5em;
    margin:0;
}

fieldset{
    padding: .4em 0;
}

input,
textarea,
select,
button{
    box-sizing: border-box;
    padding: 1em;
    border:none;
    border-radius:.2em;
    background-color:#ececec;
}

label,
input,
textarea,
select,
button{
    color:grey;
    margin:.5em 0;
}

textarea{
    resize:vertical;
}

footer{
    color: grey;
    font-size: .8em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;

}

/* CLASS TYPE SELECTORS */

.contact-info legend,
.newsletter legend{
    border-top: solid black .125em;
    width:100%;
}

.intro p{
    padding-bottom: 1.25em;
    border-bottom: solid black .25em;
}

.newsletter p{
    margin-bottom:.5em;
}

/* CLASS SELECTORS */

.wrapper{
    width:90%;
    margin-right: auto;
    margin-left: auto;
}

.intro{
    padding-bottom: .2em;
    text-align:center;
}

/* ID SELECTORS */

#zipcode{
    width:50%;
}

#other-topics{
    display:block;
    margin:1.5em 0 1em;
}

#sign-up{ /* BUTTON */
    margin-top: 1.5em;
    background-color: #198d9c;
    color: white;
    font-weight: 800;
    letter-spacing: .065em;
}

#sign-up:hover{
    transition: .5s;
    opacity:75%;
    transform: scale(1.0125);
}

#sign-up:active{
    transition: .25s;
    margin-left:auto;
    margin-right:auto;
    transform: scale(1.025);
}

/* MULTIPLE SELECTOR TYPES */
.contact-info label,
.contact-info input,
textarea,
button,
#state{
    display:block;
    width: 100%;
}

/* @MEDIA STYLES */

@media screen and (min-width: 768px){
 
    body{
        font-size:1.1em;
        margin-right:auto;
        margin-left:auto;
    }

    .contact-info label{
        display: table;
        width:25%;
        float: left;
    }

    .contact-info input,
    .contact-info select{
        display: table;
        width:75%;
        float: left;
    }

    #state{
        width:35%;
        margin-right:40%;
    }

    #zipcode{
        width:20%;
    }

    .clearfix:after{
        content: "";
        display: table;
        clear: both;


    }
}